{% extends 'base.html.twig' %}

{% block title %}Daily Trends{% endblock %}

{% block content %}

    <h1>DailyTrends</h1>

    {% for feed in feeds %}
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">{{ feed.publisher }}</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="{{ path('feed_show', {'id': feed.id}) }}">{{ feed.title }}</a>
                        </h3>
                        <div class="mb-1 text-muted">{{ feed.date|date('d/m/Y') }}</div>
                        <p class="card-text mb-auto">{{ ((feed.body)|striptags)|slice(0,120)~'...' }}</p>
                        <a href="{{ path('feed_show', {'id': feed.id}) }}">Sigue leyendo</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" src="{{ feed.image }}">
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
