{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="float-right">
        <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
    </div>
{{ form_end(form) }}
