{% extends 'base.html.twig' %}

{% block title %}Edit Feed{% endblock %}

{% block content %}
    <div class="col-12">
        <div class="float-left">
            <a href="{{ path('feed_index') }}"> < Ir al listado</a>
        </div>
        <div class="float-right">
            {{ include('feed/_delete_form.html.twig') }}
        </div>
    </div>
    <div class="col-12">
        <h1>Editar <span class="font-italic small">{{ feed.title }}</span></h1>
    </div>
    <div class="col-12">
            {{ include('feed/_form.html.twig', {'button_label': 'Actualizar'}) }}
    </div>
{% endblock %}
