{% extends 'base.html.twig' %}

{% block title %}Feed index{% endblock %}

{% block content %}
    <div class="col-8">
        <h1>Noticias</h1>
    </div>
    <div class="col-4">
        <div class=" float-right">
            <a class="btn btn-primary" href="{{ path('feed_new') }}">Nuevo articulo</a>
        </div>
    </div>
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Source</th>
                    <th>Publisher</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for feed in feeds %}
                <tr>
                    <td>{{ feed.id }}</td>
                    <td>{{ feed.title }}</td>
                    <td><img src="{{ feed.image }}" style="width: 150px;"/></td>
                    <td>{{ feed.source }}</td>
                    <td>{{ feed.publisher }}</td>
                    <td>
                        {% if feed.id %}
                            <a href="{{ path('feed_show', {'id': feed.id}) }}">Ver</a>
                            <a href="{{ path('feed_edit', {'id': feed.id}) }}">Editar</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
