{% extends 'base.html.twig' %}

{% block title %}Nuevo articulo{% endblock %}

{% block content %}
    <div class="col-8">
        <h1>Nueva noticia</h1>
    </div>
    <div class="col-4">
        <div class=" float-right">
            <a href="{{ path('feed_index') }}">Ir a listado</a>
        </div>
    </div>
    <div class="col-12">
        {{ include('feed/_form.html.twig') }}
    </div>
{% endblock %}
