{% extends 'base.html.twig' %}

{% block title %}Feed{% endblock %}

{% block content %}

    <div class="col-12">
        <div class="float-left">
            <a href="{{ path('feed_index') }}"> < Volver al listado</a>
        </div>
        <div class="float-right">
            <a class="btn btn-primary" href="{{ path('feed_edit', {'id': feed.id}) }}">Editar</a>
        </div>
    </div>

    <div class="col-md-12 blog-main">
        <div class="blog-post">
            <div class="border-bottom">
                <h2 class="blog-post-title">{{ feed.title }}</h2>
                <p class="blog-post-meta">{{ feed.date|date('d/m/Y') }}{% if feed.source %} por {{ feed.source }}{% endif %}</p>
            </div>
            <p class="pt-3"><img src="{{ feed.image }}" /></p>

            {{ feed.body|raw }}
        </div>
    </div>
    <div class="col-12 float-right">
        {{ include('feed/_delete_form.html.twig') }}
    </div>
{% endblock %}
